@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

html{
    scroll-behavior: smooth;
}

.container{
    padding: 50px 0;
    width: 100%;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

li{
    list-style-type: none;
}

section{
    background-color: rgb(245, 245, 245);
}

p{
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.mail__btn{
    border-radius: 50%;
    padding: 24px;
    position: fixed;
    z-index: 3;
    top: 630px;
    left: 1430px;
    background-color: #242424;
    color: white;
    transition: all 300ms ease;
}

.mail__btn:hover{
    transform: scale(1.1);
}

input, textarea{
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

label{
    font-size: 14px;
    font-weight: bold;
}

textarea{
    height: 100px;
    resize: vertical;
    margin-top: 8px;
}


input:hover, textarea:hover{
    border-color: #dcdfe6;
}

input:focus, textarea:focus{
    border-color: #f06449;
}

/* 

THEME TOGGLE

*/

.dark-theme section{
    background-color: #242424;
}

.dark-theme .link__hover-effect--black:after{
    background-color: white;
}

.dark-theme .title,
.dark-theme .header__para,
.dark-theme .nav__link--anchor,
.dark-theme .section__title {
    color: white;
}

.dark-theme .scroll__icon{
    border-color: white;
}

.dark-theme .scroll__icon:after{
    background-color: white;
}

.dark-theme .mail__btn{
    background-color: white;
    color: #242424;
}

.dark-theme #personal-logo{
    filter:invert(0);
}

/* NAVIGATION */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.logo__container{
    margin-left: 30px;
    width: 3%;
}

#personal-logo{
    width: 50px;
    height: 50px;
    filter: invert(1);
}



.nav__link--list{
    
    display: flex;
    margin-right: 40px;
    
}

.nav__link{
    margin: 0 12px;
    cursor: pointer;
}

.nav__link a{
    font-weight: bold;
}

.nav__link--anchor{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #242424;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 3px;
    transition: all 300ms;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
    transition: all 300ms;
}

.link__hover-effect--black:after{
    background-color: #242424;
}

.link__hover-effect--white:after{
    background-color: white;
}

.fa-adjust{
    font-size: 20px;
}

/* LANDING PAGE */

#landing-page{
    min-height: 100vh;
    position: relative;
}

.header{
    /*position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    margin-left: 150px;
}

.title{
    font-size: 120px;
    animation: title-fadeup 650ms 400ms backwards;
}

.orange{
    color: orange;
}

.title--secondary{
    color: orange;
    font-weight: bold;
    font-size: 120px;
    animation: title-fadeup 650ms 600ms backwards;
}


.header__para{
    max-width: 450px;
    font-size: 24px;
    line-height: 2;
    animation: title-fadeup 650ms 800ms backwards;
}

@keyframes title-fadeup {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.social__list{
    display: flex;
    margin-top: 16px;
    animation: title-fadeup 650ms 1s backwards;
}

.social__link{
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 6px;
    margin: 6px;
    transition: all ease 300ms;
}

.social__link i{
    font-size: 16px;
    
}

.social__link:hover{
    transform: scale(1.1);
}

.social__link:click{
    transform: scale(0.8);
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 1px solid #242424;
    border-radius: 24px;
    position: relative;
}

.scroll__icon:after{
    position: absolute;
    left: 40%;
    top: 25%;
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    animation: scroll-bar 1000ms infinite alternate-reverse;
}

@keyframes scroll-bar {
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(6px);       
    }
}

.navigation__bar,
.scroll,
.header{
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
}

.modal--open .navigation__bar,
.modal--open .scroll,
.modal--open .header{
    opacity: 0;
    visibility: hidden;
    transition: all 600ms;
}

/*

MODAL

*/

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    box-shadow: 0 20px 80px 0;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    z-index: -1;
    visibility: hidden;
    transition: visibility 0.2s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
    visibility: visible;
    z-index: 1;
}

.modal__half{
    position: relative;
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact{
    transform: translateX(0%);
}

.modal__about{
    background-color: white;
    transform: translateX(-110%);
}

.modal__title{
    font-size: 26px;
}

.modal__sub-title{
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para{
    margin-bottom: 12px;
    line-height: 1.75;
}

.orange{
    color:orange;
}

.modal__languages{
    display: flex;
    flex-wrap: wrap;
}

.language{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%/4);
}

.language__img--wrapper{
    width: 75%;
    margin: 8px;
    transition: all 300ms ease;
    padding: 8px;
}

.language:hover .language__img--wrapper{
    transform: scale(0.9);
    filter: brightness(80%);
}

.language__name{
    opacity: 0;
    transform: scale(0.2);
    transition: all 300ms ease;
    font-size: 12px;
}

.language:hover .language__name{
    transform: translateY(-20px);
    opacity: 1;
}

.language__img{
    width: 100%;
}

.modal__contact{
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

/*form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}*/

.form__item{
    margin-bottom: 20px;
}

.form__submit{
    padding: 12px 52px;
    background-color: #f06449;
    border: solid 2px #f06449;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    max-width: 240px;
    width: 100%;
    transition: all 300ms ease;
}

.form__submit:hover{
    background-color: transparent;
    border: solid 2px white;
}

.form__submit:active{
    border-color: #f06449;
    color: #f06449;
}

.modal__overlay{
    position: absolute;
    width: 101%;
    height: 101%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    color: white;
    opacity: 1;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.modal__overlay--loading{
    background-color: #242424;
    font-size: 80px;
}

.modal__overlay--success{
    background-color: #4bb543;
    text-align: center;
    font-size: 40px;
    padding: 28px;
}

.modal__overlay--visible{
    z-index: 1;
    display: flex;
}

.fa-spinner{
    font-size: 80px;
    animation: spinner 500ms infinite linear;
}

.close__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

@keyframes spinner{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* PROJECTS */

#projects{
    position: relative;
}

.section__title{
    text-align: center;
    font-size: 48px;
}

.project{
    margin: 150px 0;
}

.project__img{
    width: 100%;
    transition: all ease 400ms;
}

.project__wrapper{
    box-shadow: 0 20px 80px rgba(0,0,0,0.7);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.project__wrapper:before{
    content: "";
    position: absolute;
    z-index: 1;
    height: auto;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #242424;
    opacity: 0;
    transition: all ease 400ms;
}

.project__description--container{
    position: absolute;
    z-index: 2;
    width: 550px;
    top: 50%;
    transform: translateY(100%);
    left: 100px;
    color: white;
    line-height: 1.5;
    opacity: 0;
    transition: all ease 400ms;
}

.project__languages{
    font-weight: bold;
    margin-bottom: 20px;
}

.links{
    display: flex;
}

.project__description--link{
    margin-right: 20px;
    color: white;
    font-size: 16px;
}

.project:hover .project__img{
    transform: scale(1.1);
    filter: blur(5px);
}

.project:hover .project__wrapper:before{
    opacity: 0.7;
}

.project:hover .project__description--container{
    transform: translateY(-50%);
    opacity: 1;
}

.project__title a{
    color: white;
    transition: all 300ms ease;
}

.project__title a:hover{
    filter: brightness(0.8);
}

/*

FOOTER

*/

footer{
    background-color: #242424;
    position: relative;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0;    
}

.logo__container.footer{
    width: auto;
    margin-left: 0;
    position: relative;
}

.logo__container.footer:after{
    position: absolute;
    content: "Top";
    right: 0;
    top: 20%;
    color: white;
    opacity: 0;
    transition: all 300ms ease;
    font-weight: bold;
}

.logo__container.footer:hover:after{
    right: -90%;
    opacity: 1;
    
}

#personal-logo-footer{
    width: 70px;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    width: 100%;
    max-width: 500px;
}

.footer__social--link{
    color: white;
    position: relative;
    cursor: pointer;
    
}



.footer__link.last__link{
    margin: 0;
}


.footer__copyright{
    color: white;
}



@media (max-width: 768px){
    
    .header{
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
        margin: 0;
    }

    .header__para{
        font-size: 20px;
        width: 450px;
    }
    
    .title,
    .title--secondary{
        font-size: 70px;
    }

    .modal{
        top: 0;
        left: 5%;
        transform: none;
        height: auto;
        width: 90%;
        flex-direction: column-reverse;
    }

    .modal__half{
        width: 100%;
    }

    .project__description--container{
        width: 80%;
        left: 50px;
    }

    .project:hover .project__description--container{
        
        opacity: 1;
    }
}

@media (max-width: 526px){
    .footer__links{
        width: 85%;
    }
}

@media (max-width: 478px){
    
    .header{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
    }

    .title{
        font-size: 46px;
    }

    .modal{
        top: 0;
        left: 5%;
        transform: none;
        height: auto;
        width: 90%;
        flex-direction: column-reverse;
    }

    .modal__half{
        width: 100%;
        padding: 40px 20px;
    }

    .header__para{
        font-size: 18px;
        width: 100%;
        max-width: 300px;
    }

    .project__description--container{
        left: 40px;
        text-align: center;
    }

    .project__description{
        display: none;
    }

    .links{
        justify-content: center;
    }

    .nav__link--mobile{
        opacity: 0;
    }
}

/*

SHAPES

*/

.shape{
    position: fixed;
}

.shape--0, .shape--1, .shape--2{
    top: 20vh;
}

.shape--3, .shape--4, .shape--5{
    top: 55vh;
}

.shape--6, .shape--7, .shape--8{
    top: 80vh;
}

.shape--0, .shape--3, .shape--6{
    left: 5vw;
}

.shape--1, .shape--4, .shape--7{
    left: 50vw;
}

.shape--2, .shape--5, .shape--8{
    left: 80vw;
}